---
- name: Install MariaDB AppStream
  ansible.builtin.dnf:
    name: "@mariadb:10.11"
    state: installed

- name: Install MariaDB Server
  ansible.builtin.dnf:
    name: ["mariadb-server", "python3-PyMySQL"]
    state: installed

- name: Install cluster dependencies
  ansible.builtin.dnf:
    name: ["mariabackup", "socat"]
    state: installed

- name: Create mysql tmp directory
  ansible.builtin.file:
    path: /var/lib/mysql-tmp
    state: directory
    owner: mysql
    group: mysql
    mode: "0750"
    setype: mysqld_db_t

- name: Set SELinux file context appropriately for /var/lib/mysql-tmp
  community.general.sefcontext:
    state: present
    setype: mysqld_db_t
    target: /var/lib/mysql-tmp(/.*)?

- name: enable or disable mariadb port depending on if external access is allowed
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "3306/tcp"
    state: "{{ 'enabled' if (mariadb_external_access | default(false) or mariadb_cluster | default(false)) else 'disabled' }}"

- name: enable galera cluster communication
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "4567/tcp"
    state: "{{ 'enabled' if mariadb_cluster | default(false) else 'disabled' }}"

- name: enable galera IST
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "4568/tcp"
    state: "{{ 'enabled' if mariadb_cluster | default(false) else 'disabled' }}"

- name: enable galera SST
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "4444/tcp"
    state: "{{ 'enabled' if mariadb_cluster | default(false) else 'disabled' }}"
